.spinner {
  display: inline-block;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 5px solid teal;
  border-left-color: transparent;

  animation: infinite 1s rotate-360 linear;
}

.spinner--small {
  width: 19px;
  height: 19px;
  border-width: 2px;
}

@keyframes rotate-360 {
  from {
    transform: rotate(0deg);
  }
  to{
    transform: rotate(360deg);
  }
}
